<div class="container">
	<div class="row">
		<div class="col-lg-12 center">
			<h1 id="name">
				treeHuddle
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 center">
			<h1 id="slogan">
				Study groups on the fly!
			</h1>
		</div>
	</div>
	<%= form_for @prelauncher do |f| %>
	<h1 id="name">
		<%= f.label :email %><br>
		<%= f.text_field :email %><div id="slogan" style = "display:inline-block">@stanford.edu</div>
	</h1>
	<h1 id="name" >
		<%= f.submit 'Keep me updated!', class: "button"%>
	</h1>
	<% end %>
</div>