<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-3">
			<h1 id="name">
				treeHuddle
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-3">
			<h1 id="slogan">
				Study groups on the fly!
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-3">
		<%= form_for @prelauncher do |f| %>
		<h1 id="slogan">
			<%= f.text_field :email, id: "text-box" %> @stanford.edu
		</h1>
			<%= f.submit 'Keep me updated!', class: "button"%>
		<% end %>
		</div>
	</div>
</div>